<%- include('./partials/header') %>
<h1><%= title %></h1>
<hr>

<ul class="supplier-list">
  <% suppliers.forEach(supplier => { %>
    <li class="supplier">
      <div class="title-with-badge">
        <strong class="supplier-name"><%= supplier.name %></strong>
        <span class="active-badge <%= supplier.is_active ? 'badge-active' : 'badge-inactive' %> status-badge">
          <%= supplier.is_active ? 'Active' : 'Deactivated' %>
        </span>
      </div>
      <div class="separator"></div>
      <div class="link-box">
        <a href="/suppliers/<%= supplier.id %>/edit" class="btn-edit">Update Supplier</a>
        <a href="/suppliers/<%= supplier.id %>" class="btn-category">View Info</a>
      </div>
    </li>
  <% }) %>
</ul>

<%- include('./partials/footer') %>