<%- include('./partials/header') %>
<h1><%= supplier.name %></h1>
<p><strong>Contact Name:</strong> <%= supplier.contact_name %></p>
<p><strong>Email:</strong> <%= supplier.email %></p>
<p><strong>Phone Number: </strong><%= supplier.phone %></p>
<p><strong>Address:</strong> <%= supplier.address %></p>
<%- include('./partials/footer') %>